.user-activity .progress{
	height:0.9em;
	margin-left: auto; margin-right:auto;
}

.user-activity-setting{
	color: #718B99;
	font-size: 13px;
	font-weight: bold;
}

.user-activity-setting .activity-radios{
	display: block;
}

.user-activity-setting>div{
	margin-top: 1em;
}

.user-activity .row{
	margin-top: 0.45em;
}

.user-activity .row>div:first-child{
	margin-top: -7px;
}
.user-activity .row>div:nth-of-type(2){
	padding-left: 3em;
}